a {
  color: #16A9EF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

aside#sidebar {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 250px;
  background-image: url(outlets.png);
  color: #e2e2e2;
  font-family: "museo-sans",sans-serif;
  font-weight: 100;
}

aside#sidebar span {
  color: #16A9EF;
  font-weight: 300;
}

aside#sidebar div {
  padding-right: 20px;
}

aside#sidebar header {
  font-family: "bello-pro",sans-serif;
  font-size: 40px;
  line-height: 60px;
  color: #c0000a;
}

aside#sidebar ul {
  list-style: none; 
  list-style-image: none; 
  margin: 0; padding: 0;
  cursor: pointer;
}

aside#sidebar ul li {
  float: left;
  margin-right: 5px;
}

aside#sidebar ul li:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transition: -webkit-transform .15s linear;
  position: relative;
  z-index: 5;
}

aside#sidebar a {
  text-decoration: none;
}

aside#sidebar ul img {
  width: 20px;
  height: 20px;
}

aside#sidebar div, header#header div {
  padding-left: 30px;
}

section#main {
  position: absolute;
  width: 100%;
  left: 250px;
  top: 0px;
  font-family: "skolar", serif;
}

section#main article {
  padding-left: 50px;
  padding-top: 50px;
  float: left;
  width: 800px;
}

article > aside {
  float: left;
  width: 150px;
  height: 100%;
  display: block;
}

article > aside > time {
  display: block;
  background: black;
  color: white;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 62px;
  -moz-border-radius: 62px;
  border-radius: 62px;
  text-align: center;
  font-size: 32px;
}

article time hr {
  border-top: 1px solid #424242;
  margin: 0px 24px;
}

article time strong {
  font-size: 20px;
}

article time em {
  color: #FFF195;
}

article div.content, article footer {
  width: 600px;
  float: left;
}

.content > header {
  font-family: "museo-sans",sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  border-bottom: 2px solid #e2e2e2;
}

article footer {
  width: 600px;
  font-family: "museo-sans",sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.content footer > .source {
  float: left;
  border-left: 4px solid #FE0000;
  padding-left: 10px;
}

.content footer > .social {
  float: right;
  font-family: "museo-sans",sans-serif;
  font-size: 12px;
  color: #16A9EF;
  border-right: 4px solid #ff7f00;
  padding-right: 10px;
}
